@import url(/scss_lern/nullstyle.css);
html,
body {
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  background: url(/js_weather/img/skyBox.jpg) center;
  font-size: 24px;
  color: antiquewhite;
}

.wrapper {
  margin: 0 auto;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.location {
  position: relative;
  line-height: 60px;
  text-align: center;
}

.location .placeholder {
  position: absolute;
  left: 36.5%;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.location input:focus + .placeholder, .location input:not(:placeholder-shown) + .placeholder {
  top: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 17px;
}

.location input {
  font-weight: 500;
  letter-spacing: 6px;
  color: antiquewhite;
  font-size: 28px;
  border: none;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  background-color: transparent;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.location input:focus {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: solid 2px rgba(255, 255, 255, 0.4);
}

.grid__header {
  z-index: 1;
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  -ms-grid-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row-end];
      grid-template-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row-end];
  -ms-grid-rows: [start] 150px [col2] 1fr [col3] 200px [col-end];
      grid-template-rows: [start] 150px [col2] 1fr [col3] 200px [col-end];
}

.temperature {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 20px;
}

.temperature p {
  text-align: center;
  font-size: 95px;
  padding: 0px 5px;
  font-weight: 500;
  line-height: 150px;
}

.temperature__icon {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.temperature__icon img {
  z-index: 100;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.weather__conditions {
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 20px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .feels__like {
  position: absolute;
  top: 10px;
  left: 10px;
}

.main .time {
  text-align: center;
  font-size: 180px;
  margin-top: 80px;
}

.main .date {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

.main .min_max .min {
  position: absolute;
  top: 10px;
  right: 160px;
}

.main .min_max .max {
  position: absolute;
  top: 10px;
  right: 20px;
}

.humidity {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
}

.humidity img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.humidity p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.precipitation {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.precipitation img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.precipitation p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.direction__wind {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 240px;
}

.direction__wind .circle {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: thick double  antiquewhite;
  margin: 45px auto;
}

.direction__wind .circle .direction {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  border-radius: 50%;
  padding-top: 1px;
  font-size: 18px;
}

.direction__wind .circle .direction_1 {
  position: absolute;
  top: -13px;
  left: 60px;
}

.direction__wind .circle .direction_2 {
  position: absolute;
  top: 60px;
  right: -12px;
}

.direction__wind .circle .direction_3 {
  position: absolute;
  bottom: -13px;
  left: 60px;
}

.direction__wind .circle .direction_4 {
  position: absolute;
  top: 60px;
  left: -12px;
}

.direction__wind .circle__little {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px antiquewhite;
}

.direction__wind .circle__little .wind__speed {
  margin: 23px auto;
  text-align: center;
  width: 60px;
}

.direction__wind .circle__little .direction__wind_icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 95px;
  height: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.direction__wind .circle__little .direction__wind_icon:before {
  content: '<';
  top: 0px;
  left: 0px;
  border-radius: 50%;
}

.pressure {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.pressure img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.pressure p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.visibility {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 20px;
}

.visibility img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.visibility p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.convex {
  position: relative;
  width: 380px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-bottom-right-radius: 150px 40px;
  border-bottom-left-radius: 150px 40px;
}

.grid__footer {
  margin: 50px 0px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr [row-end];
      grid-template-columns: [start] 1fr [row-end];
  -ms-grid-rows: [start] 150px [col2] 200px [col-end];
      grid-template-rows: [start] 150px [col2] 200px [col-end];
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.grid__footer .weather__ahead_1 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row-end];
      grid-template-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row-end];
  -ms-grid-rows: [start] 150px [col2] 200px [col-end];
      grid-template-rows: [start] 150px [col2] 200px [col-end];
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

.grid__footer .weather__ahead_1 .weather__ahead_hour {
  padding: 20px 0px;
}

.grid__footer .weather__ahead_1 .weather__ahead_hour_icon {
  margin: 3px auto;
}

.grid__footer .weather__ahead_1 .weather__ahead_hour_temperature {
  margin-top: 10px;
  font-size: 22px;
}

.grid__footer .weather__ahead_1 .weather__ahead_hour_1 .weather__ahead_hour_time_now {
  font-size: 24px;
  display: inline;
  padding: 2px;
  border: solid 1px white;
  border-radius: 10%;
}

.grid__footer .weather__ahead_1 .weather__ahead_hour_time {
  font-size: 22px;
  padding: 2px;
}

.grid__footer .weather__ahead_2 {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row-end];
      grid-template-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row-end];
  -ms-grid-rows: [start] 150px [col2] 200px [col-end];
      grid-template-rows: [start] 150px [col2] 200px [col-end];
}

.grid__footer .weather__ahead_2 .weather__ahead_day {
  padding: 20px 0px;
}

.emptiness {
  height: 200px;
}
/*# sourceMappingURL=styles23.css.map */