@import url(/scss_lern/nullstyle.css);
html,
body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    background:url(/js_weather/img/skyBox.jpg) center;
    font-size: 24px;
    color: antiquewhite;
}
.wrapper {
    margin: 0 auto;
}
.content {
    width: 1200px;
    margin: 0 auto;
}
.location {
    position: relative;
    line-height: 60px;
    text-align: center;
    
    .placeholder {
        position: absolute;
        left: 43%;
        top: 0;
        user-select: none;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
    input:focus + .placeholder, input:not(:placeholder-shown) + .placeholder {
        top: 30px;
        transition: all 0.3s ease 0s;
        font-size: 17px;
    }
    input {
        font-weight: 500;
        letter-spacing: 6px;
        color: antiquewhite;
        font-size: 28px;
        border: none;
        border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.1);
        background-color: transparent;
        transition: all 0.1s ease 0s;
        &:focus {
            transition: all 0.3s ease 0s;
            border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.4);
        }
        
    }
    .button_ready {
        position: absolute;
        top: 50px;
        left: 47%;
        background-color: transparent;
        display: inline-block;
        color: antiquewhite;
        font-size: 20px;
        letter-spacing: 3px;
        
        &:active{
            transition: all 0.04s ease 0s;
            transform: scale(0.85);
        }
    }
}
.grid__header {
    z-index: 1;
    margin-top: 100px;
    display: grid;

    border-radius: 20px;
    
    
    grid-template-columns:[start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr[row-end];
    grid-template-rows: [start] 150px [col2] 1fr [col3] 200px [col-end];
}
.temperature{
    
    grid-row: 1/2;
    grid-column: 1/2;
    border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.1);
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-top-left-radius: 20px;
    p {
        text-align: center;
        font-size: 95px;
        padding: 0px 5px;
        font-weight: 500;
        line-height: 150px;
    }
}
.temperature__icon{
    
    position: relative;
    grid-row: 1/2;
    grid-column: 2/5;
    border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.1);
    background-color: rgba($color: #000000, $alpha: 0.5);
    img{
        z-index: 100;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%);
    }
}
.weather__conditions {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.1);
    grid-row: 1/2;
    grid-column: 5/6;
    font-size: 30px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-top-right-radius: 20px;
    p{  
        align-self: center;
    }
}
.main {
    grid-row: 2/3;
    grid-column: 1/6;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .feels__like {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .time{
        text-align: center;
        font-size: 180px;
        margin-top: 80px;
    }
    .date{
        text-align: center;
        padding-bottom: 50px;
        border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.1);
    }
    .min_max{
        .min{
            position: absolute;
            top: 10px;
            right: 160px;
        }
        .max{
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }
}
.humidity {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-bottom-left-radius: 20px;
    img{
        margin-top: 100px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
    }
    p{
        margin-top: 150px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
}
.precipitation {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.5);
    img{
        margin-top: 100px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
    }
    p{
        margin-top: 150px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
}
.direction__wind {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 200px;
    width: 240px;
    .circle{
        position: relative;
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: thick double  antiquewhite;
        margin: 45px auto;
        .direction {
            width: 20px;
            height: 20px;
            background-color: rgba($color: #000000, $alpha: 0.9);
            text-align: center;
            border-radius: 50%;
            padding-top: 1px;
            font-size: 18px;
        }
        .direction_1 {
            position: absolute;
            top: -13px;
            left: 60px;
            
        }
        .direction_2 {
            position: absolute;
            top: 60px;
            right: -12px;

        }
        .direction_3 {
            position: absolute;
            bottom: -13px;
            left: 60px;

        }
        .direction_4 {
            position: absolute;
            top: 60px;
            left: -12px;

        }
    }
    .circle__little {
        position: relative;
        display: flex;
        margin: 20px auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 2px antiquewhite;
        .wind__speed{
            margin: 23px auto;
            text-align: center;
            width: 60px;
        }
        .direction__wind_icon{
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 40px;
            left: 0px;
            width: 95px;
            height: 20px;
            transform: rotate(180deg);
            &:before{
                content: '<';
                top:0px;
                left: 0px;
                
                border-radius: 50%;
            }
            
        }
    }
}
.pressure {
    
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.5);
    img{
        margin-top: 100px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
    }
    p{
        margin-top: 150px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
}
.visibility {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-bottom-right-radius: 20px;
    img{
        margin-top: 100px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
    }
    p{
        margin-top: 150px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
}
.convex {
    position: relative;
    width: 380px;
    height: 40px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    margin: 0 auto;
    border-bottom-right-radius: 150px 40px;
    border-bottom-left-radius: 150px 40px;
}
.grid__footer{
    margin: 50px 0px;
    
    text-align: center;
    
    display: grid;
    grid-template-columns:[start] 1fr [row-end];
    grid-template-rows: [start] 150px [col2] 200px [col-end];
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 20px;
    .weather__ahead_1{
        grid-column: 1/-1;
        grid-row: 1/2;
        display: grid;
        grid-template-columns:[start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr[row-end];
        grid-template-rows: [start] 150px [col2] 200px [col-end];
        border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.1);
        .weather__ahead_hour{
            padding: 20px 0px;
        }
        .weather__ahead_hour_icon{
            margin: 3px auto;
        }
        .weather__ahead_hour_temperature{
            
            margin-top: 10px;
            font-size: 22px;
        }
        .weather__ahead_hour_1{
            .weather__ahead_hour_time_now{
                font-size: 24px;
                display: inline;
                padding: 2px;
                border: solid 1px white;
                border-radius: 10%;
            }
            
        }
        .weather__ahead_hour_time{
            font-size: 22px;
            padding: 2px;
        }
        .weather__ahead_hour_2{}
        .weather__ahead_hour_3{}
        .weather__ahead_hour_4{}
        .weather__ahead_hour_5{}
        .weather__ahead_hour_6{}
        .weather__ahead_hour_7{}
        .weather__ahead_hour_8{}
    }
    .weather__ahead_2{
        grid-column: 1/-1;
        grid-row: 2/-1;
        display: grid;
        grid-template-columns:[start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row-end];
        grid-template-rows: [start] 150px [col2] 200px [col-end];
        .weather__ahead_day{
            padding: 20px 0px;
        }
        .weather__ahead_day_1{}
        .weather__ahead_day_2{}
        .weather__ahead_day_3{}
        .weather__ahead_day_4{}
    }
}
.emptiness {
    height: 200px;
}