@import url(/scss_lern/nullstyle.css);
html,
body {
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  background: url(/js_weather/img/skyBox.jpg) center;
  font-size: 24px;
  color: antiquewhite;
}

.wrapper {
  margin: 0 auto;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.location {
  line-height: 60px;
  text-align: center;
}

.grid__header {
  z-index: 1;
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  -ms-grid-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row-end];
      grid-template-columns: [start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row-end];
  -ms-grid-rows: [start] 150px [col2] 1fr [col3] 200px [col-end];
      grid-template-rows: [start] 150px [col2] 1fr [col3] 200px [col-end];
}

.temperature {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 20px;
}

.temperature p {
  text-align: center;
  font-size: 95px;
  padding: 0px 5px;
  font-weight: 500;
  line-height: 150px;
}

.temperature__icon {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.temperature__icon img {
  z-index: 100;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.weather__conditions {
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 20px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .feels__like {
  position: absolute;
  top: 10px;
  left: 10px;
}

.main .time {
  text-align: center;
  font-size: 180px;
  margin-top: 80px;
}

.main .date {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

.main .min_max {
  position: absolute;
  top: 10px;
  right: 10px;
}

.himidity {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
}

.himidity img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.himidity p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.precipitation {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.precipitation img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.precipitation p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.direction__wind {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 240px;
}

.direction__wind .circle {
  text-align: center;
}

.pressure {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.pressure img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.pressure p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.visibility {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 20px;
}

.visibility img {
  margin-top: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.visibility p {
  margin-top: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.convex {
  width: 240px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-bottom-right-radius: 110px 40px;
  border-bottom-left-radius: 115px 40px;
}
/*# sourceMappingURL=styles23.css.map */