@import url(/scss_lern/nullstyle.css);
html,
body {
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 10px;
}
.location {
    margin-top: 30px;
    position: relative;
    line-height: 60px;
    text-align: center;
    
    .placeholder {
        position: absolute;
        left: 43%;
        top: 0;
        user-select: none;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
    input:focus + .placeholder, input:not(:placeholder-shown) + .placeholder {
        top: 30px;
        transition: all 0.3s ease 0s;
        font-size: 17px;
    }
    input {
        font-weight: 500;
        letter-spacing: 6px;
        color: rgb(141, 141, 141);
        font-size: 28px;
        border: none;
        border-bottom: solid 2px rgba($color: #626262, $alpha: 0.1);
        background-color: transparent;
        transition: all 0.1s ease 0s;
        &:focus {
            transition: all 0.3s ease 0s;
            border-bottom: solid 2px rgba($color: #5c5c5c, $alpha: 0.4);
        }
        
    }
    .button_ready {
        position: absolute;
        top: 50px;
        left: 49%;
        background-color: transparent;
        display: inline-block;
        color: rgb(141, 141, 141);
        font-size: 20px;
        letter-spacing: 3px;
        
        &:active{
            transition: all 0.04s ease 0s;
            transform: scale(0.85);
        }
    }
}
.slider {
    display: grid;
    min-height: 1300px;
    width: 1900px;
    margin: 50px auto;
    transition: all 0.1s ease 0s;
    grid-template-rows:[start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row-end];
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col4] 1fr  [col5] 1fr [col-end];
    .slide {
        border-radius: 5px;
        margin: 10px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        span,
        .name {
            transition: all 0.1s ease 0s;
            color: transparent;
        }
    }
    .active {
        transition: all 0.1s ease 0s;
        grid-row: 1/5;
        grid-column: 1/5;
        position: relative;
        span {
            font-size: 20px;
            position: absolute;
            bottom: 35px;
            right: 5px;
            color: grey;
        }
        .name{
            font-size: 30px;
            position: absolute;
            bottom: 0;
            right: 5px;
            color: grey;
        }
    }
}